.container {
  margin: auto;
  @include mq(md, min) {
    max-width: rem($container-width + $grid-gutter-width * 2);
    padding-left: rem($grid-gutter-width);
    padding-right: rem($grid-gutter-width);
  }
  @include mq(md, max) {
    padding-left: rem(20px);
    padding-right: rem(20px);
  }
}
